<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upper charset</title>
    <style>
        .content {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <form name="f5" method="" action="" class="content">
        <input type="text" name="t1" value="" onblur="changeASCII()" />
    </form>

    <script language="JavaScript">
        function changeASCII() {
            var s = document.f1.t1.value;
            var newString = "";
            for (var i = 0; i < s.length; i++) {
                var code = s.charCodeAt(i);
                if (65 <= code && code <= 90) {
                    code += 32;
                } else {
                    code -= 32;
                }
                newString += String.fromCharCode(code);
            }
            document.f5.t1.value = newString;
        }
    </script>
</body>

</html>