<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ví dụ về tạo form</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/form.css">
</head>

<body>
    <div class="content">
        <p class="title">Ví dụ về tạo form</p>
        <form action="#" method="post" class="form">
            <table>
                <tr>
                    <th class="text">Text box</th>
                    <td><input type="text" name="textbox" /></td>
                </tr>
                <tr>
                    <th class="text">Text area</th>
                    <td><textarea name="text-area" id="text-area" cols="20" rows="2"></textarea></td>
                </tr>
                <tr>
                    <th class="text">File box</th>
                    <td>
                        <input type="text" name="filebox" />
                    </td>
                    <td>
                        <button class="btn">Browser...</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="Radio">Radio button</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="Checkbox">Check box</td>
                </tr>

                <tr>
                    <td></td>
                    <td style="text-align: center;">
                        <button class="btn">Submit</button>
                        <button class="btn">Reset</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>