<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information Technology Faculty</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..\assets\css\home.css" />
</head>

<body>
    <div id="main">
        <div id="header">
            <img class="mr-top10" src="..\assets\img\logoIT.png" alt="IT_Falculity" />
            <div class="input-search">
                <input class="txt-search" type="text" value="Tìm kiếm thông tin" />
                <i class="search-icon ti-search"></i>
            </div>
        </div>

        <div id="navigation">
            <ul id="nav">
                <li><a href="">HOME</a></li>
                <li><a href="">GIỚI THIỆU</a></li>
                <li><a href="">TUYỂN SINH</a></li>
                <li><a href="">ĐÀO TẠO</a></li>
                <li><a href="">NGHIÊN CỨU KHOA HỌC</a></li>
                <li><a href="">HỢP TÁC</a></li>
                <li><a href="">SINH VIÊN</a></li>
                <li><a href="">CỰU SINH VIÊN</a></li>
                <li><a href="">LIÊN HỆ</a></li>
            </ul>
        </div>

        <div id="breadcrumb">
            <ul class="brcrumb">
                <li><a href="/">Home /</a></li>
                <li><a href="">IT Falculty</a></li>
            </ul>
        </div>

        <div id="sidebar">
            <table>
                <tr>
                    <td>K. CÔNG NGHỆ THÔNG TIN</td>
                </tr>
                <tr>
                    <td>Thông báo</td>
                </tr>
                <tr>
                    <td>Tin tức hoạt động</td>
                </tr>
                <tr>
                    <td>Đào tạo đại học</td>
                </tr>
                <tr>
                    <td>Đào tạo sau đại học</td>
                </tr>
                <tr>
                    <td>Nghiên cứu khoa học</td>
                </tr>
                <tr>
                    <td>Biểu mẫu của Khoa</td>
                </tr>
                <tr>
                    <td>
                        Góp ý với Khoa <i class="icon-angle-right ti-angle-right"></i>
                    </td>
                </tr>
            </table>
        </div>

        <div id="content">
            <div class="main-content">
                <h2 class="header-content">KHOA CNTT - TIN TỨC</h2>
            </div>

            <div class="news">
                <img src="../assets/img/tintuc1.jpg" alt="DUT JOB FAIR" />
                <div class="news-content">
                    <h3>
                        Hơn 400 sinh viên tham gia Ngày hội việc làm "IT JOB FAIR 2021"
                    </h3>
                    <span class="news-date"><i class="calendar-icon ti-calendar"></i> 18/04/2021 13:09</span>
                    <p>
                        Sáng ngày 17/04/2021, Khoa Công nghệ thông tin tổ chức Ngày hội
                        việc làm "IT JOB FAIR 2021" tại Trung tâm Học liệu và Truyền
                        thông, Trường Đại học Bách Khoa, ĐH Đà Nẵng
                    </p>
                </div>
            </div>

            <div class="news">
                <img src="../assets/img/tintuc2.jpg" alt="Nguồn nhân lực đáp ứng yêu cầu" />
                <div class="news-content">
                    <h3>
                        Nguồn nhân lực đáp ứng yêu cầu phát triển Đà Nẵng với trụ cột Công
                        nghiệp - công nghệ cao
                    </h3>
                    <span class="news-date"><i class="calendar-icon ti-calendar"></i> 11/04/2021 20:24</span>
                    <p>
                        (DSA) - Trong bối cảnh mới, thành phố Đà Nẵng đã xác định phát
                        triển dựa trên 3 trụ cột: Du lịch, Công nghiệp - công nghệ cao và
                        Kinh tế biển. Và 5 lĩnh vực mũi nhọn đã được xác định là: Du lịch
                        chát lượng cáo gắn với bất động sản nghỉ dưỡng. Cảng biển, hàng
                        không gắn liền với dịch vụ Logistics. Công nghiệp công nghệ cao
                        gắn với xây dựng đô thị sáng tạo, khởi nghiệp. Công nghiệp Công
                        nghệ thông tin, điện tử, viễn thông gắn với nền kinh tế số. Sản
                        phẩm nông nghiệp công nghệ cao và ngư nghiệp.
                    </p>
                </div>
            </div>

            <div class="news">
                <img src="../assets/img/tintuc3.jpg" alt="Cuộc thi DUT PROGRAMMING CHALLENGE 2021" />
                <div class="news-content">
                    <h3>CUỘC THI "DUT PROGRAMMING CHALLENGE 2021"</h3>
                    <span class="news-date"><i class="calendar-icon ti-calendar"></i> 03/04/2021 16:31</span>
                    <p>
                        Không khí sôi nỗi tại CUỘC THI "DUT PROGRAMMING CHALLENGE 2021 với
                        những đội thi đầy tài năng và triển vọng."
                    </p>
                </div>
            </div>

            <div class="news">
                <img src="../assets/img/tintuc4.jpg" alt="Trường đại học bách khoa Đà Nẵng" />
                <div class="news-content">
                    <h3>
                        Thủ khoa, á khoa khối A cả nước chọn đại học Bách Khoa Đà Nẵng
                    </h3>
                    <span class="news-date"><i class="calendar-icon ti-calendar"></i> 19/07/2023 08:58</span>
                    <p>
                        Á khoa khối A cả nước, Thủ khoa khối A tại Đà Nẵng chọn học tại
                        Trường Đại học Bách khoa, Đại học Đà Nẵng.
                    </p>
                </div>
            </div>

            <div class="news">
                <img src="../assets/img/tintuc5.jpg" alt="Bảo vệ luận văn thạc sĩ" />
                <div class="news-content">
                    <h3>
                        Khoa CNTT - 06 học viên Cao học đã bảo vệ thành công luận văn thạc
                        sỹ
                    </h3>
                    <span class="news-date"><i class="calendar-icon ti-calendar"></i> 20/06/2023 06:02</span>
                    <p>
                        6 học viên Cao học của ngành công nghệ thông tin đã bảo vệ thành
                        công luận văn thạc sỹ và đánh dấu chặn đường mới.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>