<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công nghệ WEB</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body style="overflow: hidden;">
    <iframe name="i1" class="i1" src="./components/t1.html" scrolling="no"></iframe>
    <div class="content">
        <iframe name="i2" class="i2" src="./components/t2.html" scrolling="no"></iframe>
        <iframe name="i3" class="i3" src="./components/t3.html" scrolling=""></iframe>
        <iframe name="i4" class="i4" src="./components/t4.html" scrolling="no"></iframe>
    </div>
    <iframe name="i5" class="i5" src="./components/t5.html" scrolling="no"></iframe>
</body>

</html>