.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 80px;
}

.content-container {
  overflow: hidden;
  white-space: nowrap;
}

.content {
  overflow: hidden;
}

.text {
  font-size: 40px;
  font-weight: 400;
  animation-name: scrollText;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes scrollText {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
